html{
	height:100%;
}

body{
    text-align:center;
	background: rgb(204,255,204); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(204,255,204,1) 9%, rgba(102,204,255,1) 12%, rgba(102,204,255,1) 88%, rgba(204,255,204,1) 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(9%,rgba(204,255,204,1)), color-stop(12%,rgba(102,204,255,1)), color-stop(88%,rgba(102,204,255,1)), color-stop(93%,rgba(204,255,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(204,255,204,1) 9%,rgba(102,204,255,1) 12%,rgba(102,204,255,1) 88%,rgba(204,255,204,1) 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(204,255,204,1) 9%,rgba(102,204,255,1) 12%,rgba(102,204,255,1) 88%,rgba(204,255,204,1) 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(204,255,204,1) 9%,rgba(102,204,255,1) 12%,rgba(102,204,255,1) 88%,rgba(204,255,204,1) 93%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(204,255,204,1) 9%,rgba(102,204,255,1) 12%,rgba(102,204,255,1) 88%,rgba(204,255,204,1) 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffcc', endColorstr='#ccffcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-size: cover;

    -ms-touch-action:none;
}

.slowchange {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

#field {
    border-style: none;
    border-spacing: 0px;
}

.cell {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-style: none;
    border-spacing: 0px;
    background: gray;
}

.button {
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #00CC00;
    border-radius: 1em;
    border: 2px solid #8C8984;
	color:white;
}

#counter {
    margin-left: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 1px solid blue;
	background: #00CC00;
	color:#000099;
}

#field {
	border: 11px solid rgb(91, 91, 94);
	border-style: outset;
}
